<div  id='profilebox'>


    <div class='row'>

    
    <div class='col-md-12' id='userr'>
    <img id='meme'src='assets/you1.png' />
    <h5 id='nname'>USER</h5> 

     <a id='logout' href="javascript:void(0)" ng-click='profileCtrl.logout()'>logout</a>

    </div>

    <div id='userbox' class='col-md-12'>

     <h6 style='background-color:#020621;text-align:center;border-radius:4px;box-shadow:0px 0px 5px black;color:white !important;text-shadow:2px 2px 2px black;font-family: "Rye", cursive;margin:0px; ' > <img id='onuserload' src='/assets/earth.svg' />&nbsp;&nbsp;&nbsp;&nbsp;Users<span style=''>&nbsp;&nbsp;&nbsp;&nbsp;Online</span></h6>

     <div id='whoisinonline'>
         
     </div>
     

    </div> 
 

   
     <div  class='col-md-12'>

     <div id='chatContainer'>
     <h5 id='tithead'><img id='titheadimg' src='/assets/me1.png' />&nbsp;&nbsp;&nbsp;&nbsp;<span id='tittit'>user</span></h5>
     	<div id='chattbox' class='well container'>
        

</div>

<div id='msginput'>
    
    <textarea id='inputfield' placeholder='type your message here ...' rows='4'   ></textarea>
    <h6 id='msgbtn' class=''>send</h6>
</div>   

</div>  	

     </div>


    
	

</div>



<img id='up' src='assets/up.svg' />
</div>